* {
	font-family: 'Merriweather', serif !important;
	font-size: 14px;
}

* a:hover{
	text-decoration:none !important;
}

header .topbar{
	background-color: #f5f5f5;
	height: 35px;
}

header .topbar {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

header .topbar span:nth-child(2){
	display: flex;
	float: right;
}

header .banner{
	height: 114px;
	background-size: cover;
	font-size: 46px;
	color: white;
  	display: flex;
  	align-items: center;
	justify-content: center;
  	opacity: 1.4;
}

header .banner h1{
	margin-bottom: 0px;
  	text-shadow: 2px 2px black;
}

header .nav{
	height: 41px;
	background-color: red;
	color: white;
}

header .nav .container ul{
	margin-bottom: 0px;
	height: 100%;
  	display: flex;
  	align-items: center;
}

header .nav img{
	width: 24px;
	height: 24px;
  	display: flex;
  	align-items: center;

}

header .nav li{
    display:inline;
    padding: 0 10px; 
    text-transform: uppercase;
	font-size: 16px;
}

header .nav li:nth-child(1){
    padding: 0px;
}

body a{
	color: black;
}

body .section1{
	padding-top: 30px;
}


body .section1 .section1-column1{
	padding: 0px;
	padding-right: 15px;
}
body .section1 .section1-column1 .column1-firstnews{
	padding: 0 15px; 
}
body .section1 .section1-column1 .column1-firstnews h2{
	padding-top: 5px;
	font-size: 26px;
	font-weight: 700;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   margin-bottom: 0px;
}

body .section1 .section1-column1 .column1-firstnews span{
    font-family: Arial !important;
    font-size: 14px;
    color: #8e8e8e;
}

body .section1 .section1-column1 .column1-firstnews a{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

body .section1 .section1-column1 .column1-firstnews img{
	width: 100%;
	height: 372px;
	object-fit: cover;
}

body .section1 .section1-column1 .column1-secondnews{
	padding-top: 15px; 
}

body .section1 .section1-column1 .column1-secondnews .container{
	padding: 0px; 
}

body .section1 .section1-column1 .column1-secondnews img{
	width: 100%;
	height: 157px;
	object-fit: cover;
}

body .section1 .section1-column1 .column1-secondnews h2{
	padding-top: 5px;
	font-size: 16px;
	font-weight: 700;
   	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

body .section1 .section1-column2 .column2-firstnews img{
	width: 100%;
	height: 167px;
	object-fit: cover;
}

body .section1 .section1-column2 .column2-firstnews h2{
	padding-top: 5px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
   	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

body .section1 .section1-column2 .column2-secondnews img{
	width: 100%;
}

body .section1 .section1-column2 .column2-secondnews h2{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
   	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

body .section1 .section1-column2 .column2-secondnews .wrapper-img{
	padding: 0px;
}

body .section1 .section1-column2 .column2-secondnews .wrapper-img img{
	height: 88px;
	object-fit: cover;
}

body .section1 .section1-column2 .column2-secondnews .wrapper-title{
	padding: 0px;
	padding-left: 10px;
}

body .section1 .section1-column3 .news-tabs{
	border-bottom: none;
}

body .section1 .section1-column3 .news-tabs .button-tinmoi{
	cursor: pointer;
	border-bottom: solid 2px red;
}

body .section1 .section1-column3 .news-tabs .button-tindocnhieu{
	cursor: pointer;
}

body .section1 .section1-column3 .news-tabs ul{
	margin-bottom: 0px;
}

body .section1 .section1-column3 .news-tabs li{
	display: inline;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

body .section1 .section1-column3 .news-tabs li{
	padding: 0 15px;
}

body .section1 .section1-column3 .news-tabs li:nth-child(1){
	padding: 0px;
	padding-right: 15px;
}

body .section1 .section1-column3 .news{
	background-color: #e7eef4;
	padding: 15px;
	padding-bottom: 0px;
}

body .section1 .section1-column3 .news img{
	width: 16px;
	margin-right: 5px;
}

body .section1 .section1-column3 .news span{
	color: #8e8e8e;
	font-size: 14px;
}

body .section1 .section1-column3 .news h2{
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 700;
   	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

body .section1 .section1-column3 .news hr{
	margin-bottom: 0px;
	border-color: white;
}

body .section2{
	padding-top: 30px;
}

body .section2 .section2-birthday{
	text-align: center;
}

body .section2 span{
	width: auto;
	padding:5px 30px;
	padding-bottom: 3px;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
}

body .section2 ul{
	margin-bottom: 0px;
	height: auto;
	display: flex;
  	align-items: center;
	
}

body .section2 li{
	display: inline;
	font-weight: bold;
	padding: 0 10px;

}

body .section2 li:nth-child(1){
	padding-left: 30px;
	padding-right: 10px;

}

body .section2 .row:nth-child(1){
	border-bottom: solid 2px red;
}
body .section2 .wrapper-carousel{
	padding:0px 15px;
	padding-top: 30px;
	background-color: #e7eef4;
}

body .section2 .wrapper-carousel h3{
	font-size: 20px;
	font-weight: 700;
	padding-top: 5px;
	text-align: center;
}

body .section3 {
	padding-top: 30px;
}

body .section3 span{
	width: auto;
	padding:5px 30px;
	padding-bottom: 3px;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
}

body .section3 .wrapper-title{
	border-bottom: solid 2px red;
}

body .section3 .section3-colum1{
	padding-left: 0px;
}

body .section3 .section3-colum1 .wrapper-video{
	border-top: solid red;
	padding: 0px;
}

body .section3 .section3-colum1 .wrapper-video{
	padding: 0 30px;
	padding-top: 15px;
}

body .section3 .section3-colum1 .wrapper-video .video-column1 iframe{
	border-radius: 5px;
	height: 287px;
}

body .section3 .section3-colum1 .wrapper-video .video-column1 h3{
	padding-top: 10px;
	font-size: 16px;
  	font-weight: 700;
}

body .section3 .section3-colum1 .wrapper-video .video-column2 iframe{
	border-radius: 5px;
}

body .section3 .section3-colum1 .wrapper-video .video-column2 h3{
	width: 60%;
	height: 100%;
	padding-left: 20px;
	font-size: 16px;
   	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
  	font-weight: 700;
}


body .section3 .section3-colum1 .wrapper-video .video-column2 .video-box{
	padding-bottom: 15px;
}

body .section3 .section3-colum2 .container {
	border-bottom: solid red;
}


body .section3 .section3-colum2 .wrapper-documents .documents{
	padding: 0px 10px;
	padding-bottom: 10px;
	background-color: #e7eef4;
}

body .section3 .section3-colum2 .wrapper-documents .documents:nth-child(1){
	padding: 10px 10px;
}

body .section3 .section3-colum2 .wrapper-documents  .documents h3{
	background-color: #e7eef4;
   	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   font-size: 16px;
   font-weight: 700;
}

body .section3 .section3-colum2 .wrapper-documents  .documents hr{
	margin:0px;
	margin-top:10px;
	border-color: white;

}

body .section4 {
	padding-top: 30px;
}

body .section4 span{
	width: auto;
	padding:5px 0px;
	padding-bottom: 3px;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	border-bottom: red solid;
}

body .section4 .wrapper-title{
	border-bottom: solid 2px red;
}

body .section4 .section4-colum1{
	padding-left: 0px;
}

body .section4 .section4-colum1 .wrapper-result{
	padding: 0px;
	padding-top: 20px;
}

body .section4 .section4-colum1 .wrapper-result img{
	width: 100%;
	height: 180px;
	object-fit: cover;
}

body .section4 .section4-colum1 .wrapper-result .title{
	background-color: #e7eef4;
	padding: 10px;
}

body .section4 .section4-colum1 .wrapper-result h3{
	font-size: 16px;
   	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}


body .section4 .section4-colum2 .wrapper-gallery {
	padding: 0px;
	padding-top: 20px;
}

body .section4 .section4-colum2 .wrapper-gallery img{
	width: 100%;
	height: 286px;
	object-fit: cover;
}

footer{
	margin-top: 30px;
	background-color: red;
}

footer span{
	padding: 8px 10px;
	color: white;
}

/*.body_candidates {
	overflow: hidden;
}*/
body .wrapper_candidates {
	padding-top: 15px;
}


body .wrapper_candidates .categories{
	background-color: #e7eef4;
	padding: 20px 10px;
	text-align: center;
}

body .wrapper_candidates .wrapper_card .card{
	width: 18%;
	margin: 0px 5px 10px 5px;

}

body .wrapper_candidates .wrapper_card h3{
	font-weight: 700;
	margin-bottom: 0px;
	padding: 5px;
	font-size: 16px;
}

body .wrapper_candidates p{
	padding: 0px;
	font-size: 16px;
}

body .wrapper_candidates .no_padding{
	padding: 0px;
}

body .wrapper_candidates .wrapper_card{
	cursor: pointer;
	padding: 0px 5px;
	font-size: 16px;
}

body .wrapper_candidates .wrapper_card img{
	object-fit: cover;
	height: 140px;
}

body .wrapper_candidates .wrapper_card .row{
	margin: auto;
}

body .wrapper_candidates .wrapper_detailcard{
	margin: 0px 5px;
}

body .wrapper_candidates .wrapper_detailcard .wrapper_image{

}

body .wrapper_candidates .wrapper_detailcard img{
	width: 100%;
	height: 200px;
	object-fit: contain;
	margin-right: 10px;
}

body .detail_news{
	padding-top: 20px;
}

body .detail_news span{
	float: right;
}

body .detail_news h1{
	padding-top: 20px;
}

body .column2 {
	padding: 20px 30px 0px 30px;
}

body .column2 strong{
	border-bottom: 2px solid red;
}

body .column2 img{
	padding-top: 10px;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

body .column2 h2{
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	padding-top: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

body .column2 h3{
	font-size: 14px;
	width: 100%;
	padding-top: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}


body .column2 hr{
	margin: 0px;
}